time_per_encoding/secuencias_bench.txt
1.signal_images/visualizaciones_AS_v2
1.signal_images/visualizaciones_PS_v2
0.base_st/
0.test/csvtest.csv
datos/evaluation_data.parquet
results/plots
results/plots_hi-res
sv
plots
0.bench_encoding_time
tt_final.zip
