affine==2.4.0
altair==5.4.1
annotated-types==0.7.0
anthropic==0.39.0
anyio==4.6.2.post1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
async-lru==2.0.5
attrs==24.2.0
babel==2.17.0
beautifulsoup4==4.13.4
bio==1.7.1
biopython==1.84
biothings_client==0.4.0
bleach==6.2.0
blinker==1.9.0
blis==1.0.1
bokeh==3.7.2
branca==0.8.1
cachetools==5.5.0
Cartopy==0.24.1
catalogue==2.0.10
catboost==1.2.8
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpathlib==0.20.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorcet==3.1.0
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
confection==0.1.5
contextily==1.6.2
contourpy==1.3.1
cryptography==44.0.0
cycler==0.12.1
cymem==2.0.10
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datashader==0.18.0
debugpy @ file:///D:/bld/debugpy_1731044886692/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
deprecation==2.1.0
distro==1.9.0
duckdb==1.2.1
EbookLib==0.19
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl#sha256=e451a83d6df79b87e9eed0cb553f03e99e36a3bab18a7b79f0dcfd1fdf875e12
et_xmlfile==2.0.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1725214404607/work
fastjsonschema==2.20.0
ffmpeg-python==0.2.0
filelock==3.18.0
Flask==3.0.3
folium==0.19.5
fonttools==4.55.0
fqdn==1.5.1
fsspec==2025.3.2
future==1.0.0
gensim==4.3.3
geoarrow-c==0.1.2
geoarrow-pandas==0.1.1
geoarrow-pyarrow==0.1.2
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
geoviews==1.14.0
gitdb==4.0.11
GitPython==3.1.43
gprofiler-official==1.0.0
graphviz==0.20.3
greenlet==3.2.3
h11==0.14.0
holoviews==1.20.2
httpcore==1.0.7
httpx==0.27.2
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
ipykernel @ file:///D:/bld/ipykernel_1719845595208/work
ipyleaflet==0.19.2
ipython @ file:///D:/bld/ipython_1729866374643/work
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1731317204262/work
Jinja2==3.1.4
jiter==0.7.1
joblib==1.4.2
jpype1==1.5.2
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-leaflet==0.19.2
jupyter-lsp==2.2.5
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1726610684920/work
jupyter_core @ file:///D:/bld/jupyter_core_1727163532151/work
jupyter_packaging==0.12.3
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kaleido==0.2.1
keplergl==0.3.7
kiwisolver==1.4.7
langcodes==3.5.0
language_data==1.3.0
lightgbm==4.6.0
linkify-it-py==2.0.3
llvmlite==0.44.0
lxml==5.3.0
marisa-trie==1.2.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mdit-py-plugins==0.4.2
mdurl==0.1.2
memory-profiler==0.61.0
mercantile==1.2.1
missingno==0.5.2
mistune==3.1.3
more-itertools==10.6.0
moviepy==2.1.2
mpmath==1.3.0
multipledispatch==1.0.0
murmurhash==1.0.11
mutagen==1.47.0
mygene==3.2.2
narwhals==1.14.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx==3.4.2
nltk==3.9.1
notebook==7.4.1
notebook_shim==0.2.4
numba==0.61.0
numpy==1.26.4
openai-whisper==20240930
opencv-python==4.11.0.86
openpyxl==3.1.5
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1731802491770/work
pandas==2.2.3
pandocfilters==1.5.1
panel==1.6.3
param==2.2.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
pdfminer.six==20231228
pdfplumber==0.11.5
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.4.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
plotly==5.24.1
pooch==1.8.2
praw==7.8.1
prawcore==2.4.0
preshed==3.0.9
proglog==0.1.11
prometheus_client==0.21.1
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1727341649933/work
protobuf==5.28.3
psutil @ file:///D:/bld/psutil_1729847160832/work
psycopg2-binary==2.9.10
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1721585709575/work
pyarrow==18.0.0
pyarrow-hotfix==0.7
pycparser==2.22
pyct==0.5.0
pydantic==2.10.1
pydantic_core==2.27.1
pydeck==0.9.1
pydub==0.25.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyMuPDF==1.25.5
pyogrio==0.10.0
pyparsing==3.2.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pyproj==3.7.0
pyshp==2.3.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1731919281354/work
python-docx==1.1.2
python-dotenv==1.0.1
python-json-logger==3.3.0
pytz==2024.2
pyviz_comms==3.0.4
PyWavelets==1.7.0
pywin32==307
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq @ file:///D:/bld/pyzmq_1728642398422/work
qrcode==8.0
rasterio==1.4.3
referencing==0.35.1
regex==2024.11.6
reportlab==4.2.5
requests==2.32.3
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.21.0
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
Send2Trash==1.8.3
shapely==2.0.6
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.7
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.14.2
SQLAlchemy==2.0.41
srsly==2.4.8
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
streamlit==1.40.1
streamlit-ace==0.1.1
streamlit_folium==0.25.0
sympy==1.13.1
tabula-py==2.10.0
tabulate==0.9.0
tenacity==9.0.0
terminado==0.18.1
thinc==8.3.2
threadpoolctl==3.5.0
tiktoken==0.9.0
tinycss2==1.4.0
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
toolz==1.0.0
torch==2.6.0
tornado @ file:///D:/bld/tornado_1724956183921/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
traittypes==0.2.1
typer==0.15.0
types-python-dateutil==2.9.0.20241206
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata==2024.2
uc-micro-py==1.0.3
update-checker==0.18.0
uri-template==1.3.0
urllib3==2.2.3
vcdvcd==2.3.6
wasabi==1.1.3
watchdog==6.0.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.6
widgetsnbextension==4.0.14
wordcloud==1.9.4
wrapt==1.17.0
xarray==2025.4.0
xgboost==3.0.0
xyzservices==2025.4.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1731262100163/work
